version: 2
workflows:
  version: 2
  test:
    jobs:
      - test-3.6

jobs:
  test-3.6: &test-template
    docker:
      - image: circleci/python:3.6-buster
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y pandoc ghdl gtkwave verilator
            sudo pip install -e .

      - run: python --version
      - run: make gen
      - run: make compile_ghdl
      - run: make compile_verilator
      - run: make test_c
        
  test-2.7:
    <<: *test-template
    docker:
      - image: circleci/python:2.7-buster
